@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --cor1: #B1BADE;
    --cor2: #DECDC8;
    --cor3: #C7DEB1;
    --cor4: #7C8091;
    --cor5: #917B74;
}

body{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), white);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
}

main{
    background-color: var(--cor4);
    max-width: 350px;
    min-height: 45vh;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.555);
}

main h1{
    margin-bottom: 2rem;
    position: relative;
    font-size: 2rem;
}

main h1::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), white);
}

.caixa{
    position: relative;
    outline: none;
    font-size: 1rem;
    color: var(--cor3);
    text-shadow: 0px 0px 1px black;
    border-radius: 4px;
    border: none;
    margin: 3px;
    cursor: pointer;
}

.caixa:hover{
    background-image: linear-gradient(to right, var(--cor5), var(--cor4), var(--cor1), var(--cor3), var(--cor2));
}

/*para separar nome e senha*/
.caixa:first-child{
    margin-bottom: 1.5rem;
}

.caixa::placeholder{
    color: var(--cor3);
    font-size: 13px;
}

.botao{
    margin-top: 2rem;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    font-size: bold;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    color: var(--cor3);
    text-shadow: 0px 0px 1px black;
    border-radius: 4px;
}

.botao:hover{
    letter-spacing: 1px;
    background-image: linear-gradient(to left, var(--cor1), var(--cor2));
    transition: 0.5s;
}

.footer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

span{
    color: rgba(0, 0, 0, 0.66)
}

.social{
    width: 100%;
    padding: 0.4rem;
    font-size: 0.85rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

/*.social a img{
    margin: 0 0.5rem;
    width: 15px;
}*/

.social, .tt{
    background-color: #1232bf;
}

.social, .insta{
    background-color: green;
}

a{
    text-decoration: none;
}