@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: darkcyan;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden; /*para img não sair do block*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);


}

section#login > div#img{
    display: block;
    background-image: url(../imagens/pexels-escada.jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}